*.DS_Store
.Rproj.user
.Rhistory
.RData
.Ruserdata

visualization/data
visualization/vis-master/data
.ipynb_checkpoints
covid19-forecast-hub.Rproj
hub.code-workspace

.vscode
packrat/lib*/
__pycache__
.idea

*.pyc

# virtualenv (python)
env

# node/npm related
node_modules
package-lock.json
