// Gray shades
$c1: #000;
$c2: #333;
$c3: #666;
$c4: #bbb;
$c5: #ccc;
$c6: #ddd;
$c7: #eee;
$c8: #f5f5f5;
$c9: #fff;

// Used palette
$accent: #5c6bc0;
$actual: #66d600;
$observed: #18817f;
$history: $c6;
$history-highlight: $c5;

$axis-ticks: $c4;
$hover-line: $c4;
$disabled: $c4;

$black: $c1;
$gray: $c2;
$gray-light: $c3;
$white: $c9;
$white-shade: $c8;
$shadow: $c5;
