.d3f-chart {
  .overlay {
    fill: none;
    pointer-events: all;
  }

  .hover-line {
    fill: none;
    stroke: $hover-line;
    stroke-width: 1px;
  }

  .no-pred-text {
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 25px;
    fill: $gray-light;
    text-transform: uppercase;
  }
}
