.legend-drawer {
  @include no-select();
  @include shadow();
  @include border($shadow);
  background-color: $white;
  font-size: 11px;
  min-width: 200px;
  position: absolute;
  right: 60px;
  top: 10px;

  .legend-middle-container {
    background-color: $white-shade;
    padding: 5px 0;

    .control-row {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin: 5px 0;
    }

    .control-row > span:first-child {
      margin-right: 5px;
    }

    .toggle-button {
      @include border($shadow);
      background-color: $white;
      padding: 2px 6px;

      &.selected {
        background-color: $accent;
        border-color: $accent;
        color: $white;
      }
    }

    .search-input {
      border: 1px solid $shadow;
      font-size: 11px;
      padding: 5px;
      box-shadow: inset 0 0 1px $shadow;
      min-width: 90%;
    }
  }

  .legend-bottom-container {
    max-height: 200px;
    overflow-y: auto;
  }

  .row {
    padding: 4px 10px;
    margin: 0;

    &::before, &::after {
      content: none;
    }

    i {
      @include icon();
    }

    .row-icon {
      margin-right: 3px;
    }

    .row-title {
      display: inline-block;
      font-size: 11px;
      vertical-align: middle;
    }

    .row-url {
      float: right;
      color: $gray-light;
      i {
        margin: 0;
      }
    }

    &.na {
      i {
        color: $disabled !important;
      }

      color: $disabled;
    }
  }
}
